*{
    padding:0px;
    margin:0px;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color:rgba(29, 29, 35, 1);
    
}
header{
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
    margin-block:10px;
}
.input-info{
    margin-inline:auto;
    width:80%;
  min-height:100%;
    background-color:rgba(52, 52, 74, 1);
    padding-block:20px;
    padding-inline: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-sizing: border-box;
}
.time-display{
    margin-inline:auto;
    width:60%;
    background-color:rgba(52, 52, 74, 1);
    margin-block: 30px;  
    padding-block:20px;
    padding-inline: 1%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 3px;
    box-sizing: border-box;
}
.input-info label{
    text-transform: uppercase;
    color:white;
    font-size: 15px;
}
.input-info input{
    margin-inline:5px;
    padding-block: 1%;
    background-color: rgb(72, 72, 75);
    border:none;
    border-radius: 3px;
    color:white;
    font-size: 15px;
    padding-inline: 1px;
    font-weight: bold;
}
.input-info input:hover{
    border: 1px solid yellow;
}
.input-info button{
    text-align: center;
    border:1px solid rgb(80, 249, 91);
    padding-block: 1%;
    padding-inline:1%;
    border-radius: 30px;
    font-size: 13px;
    background-color: rgba(240, 247, 87, 1);
}
.input-info button:hover{
    box-shadow: 1px 1px 3px rgb(174, 239, 131);
}
.time-display h2 ,.time-display p{
    color:white;
    text-align: center;
    font-size:25px;
    margin-inline:2px;
}
.button-stop{
    background-color: rgba(240, 247, 87, 1);
    border:none;
    border-radius: 30px;
    padding-inline:20px;
    padding-block:10px;
    font-size: 20px;
    text-transform: lowercase;
}
/* .timedisplay{
    display:flex;
    align-items :center;
    justify-content: space-around;
} */
.pstyle{
    /* border:1px solid red; */
    background-color: rgb(72, 72, 75);
    padding-inline: 10%;
    border-radius: 5px;
}
.timeup{
    font-weight:900;
    color:black;
    font-size: 25px;
}

.timeupdiv{
    margin-inline:auto;
    width:35%;
    background-color:#F0F757;
    margin-block: 30px;  
    padding-block:10px;
    padding-inline: 1%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 3px;
    box-sizing: border-box;
}